---
import '../styles/global.css';
---
<div class="w-full h-60 bg-gradient-to-t from-black to-gray-90000" id="fadeSobre"></div>

   <section id="sobre" class="py-20 px-6 bg-black">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-4xl font-bold mb-6 text-white pb-3">Sobre NitroBurst</h2>
        <p class="text-lg leading-relaxed text-white">
          En NitroBurst, creemos que la energía es la clave del rendimiento máximo. Nuestra bebida está diseñada para atletas, gamers y cualquier persona que necesite un impulso extra. Sin azúcar añadida, con ingredientes de alta calidad, NitroBurst es tu mejor aliado para alcanzar tus metas.
        </p>
      </div>
    </section>
    <div class="w-full h-60 bg-gradient-to-b from-black to-gray-90000" id="fadeRew"></div>
