---
import '../styles/global.css';
---
    <footer id="footer" class="bg-gray-800 py-8 text-center">
      <p class="text-gray-400">&copy; 2025 NitroBurst Energy. Todos los derechos reservados.</p>
    </footer>
  </body>
