---
import '../styles/global.css';
---

<section id="lobby" class="relative h-screen flex items-center justify-center overflow-hidden">
  <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover z-[-1]">
    <source src="/Video.mp4" type="video/mp4" />
    Tu navegador no soporta la etiqueta de video.
  </video>

  <div class="absolute top-0 left-0 w-full h-full bg-black/50 z-0"></div>
<div>

  <div class="relative z-10 text-center px-4">
    <h2 class="text-5xl font-extrabold mb-4 text-white">Desata tu energía</h2>
    <p class="text-xl text-white">Con NitroBurst, supera tus límites</p>
  </div>
  <div class="flex justify-center mt-10">
    <div class="animate-bounce text-white">
      <svg
      class="w-8 h-8"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </div>
  </div>
</div>
  
</section>
